<!-- <div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div> -->
<md-content layout="row" layout-align="center center" layout-padding="layout-padding" ng-cloak="ng-cloak">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar md-scroll-shrink  md-colors="{background: 'background-900-2.43'}">
            <div class="md-toolbar-tools">
                <h2><span><i class="fa fa-car" aria-hidden="true"></i> Register with APP</span></h2>
            </div>
        </md-toolbar>
        <md-card-content>
            <form name="registerForm">
                <md-input-container class="md-block">
                    <label>Fullname</label>
                    <input type="text" name="name" ng-model="vm.registerForm.name" placeholder="Full name" required=""/>
                    <div ng-messages="registerForm.name.$error" role="alert" multiple="">
                        <div ng-message="required" >Please enter your name.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" name="username" ng-model="vm.registerForm.username" placeholder="Email" required=""/>
                    <div ng-messages="registerForm.username.$error" role="alert" multiple="">
                        <div ng-message="required" >Please enter your email.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mobile number</label>
                    <input type="tel" name="tel" ng-model="vm.registerForm.tel" placeholder="Phone number" required=""/>
                    <div ng-messages="registerForm.tel.$error" role="alert" multiple="">
                        <div ng-message="required" >Please enter your Telephone number.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="vm.registerForm.password" placeholder="Password" required=""/>
                    <div ng-messages="registerForm.password.$error" role="alert" multiple="">
                        <div ng-message="required" >Please enter your Password.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <input type="password" name="cnfpass" compare-to="vm.registerForm.password" ng-model="vm.registerForm.cnfpass" placeholder="Password" required=""/>
                    <div ng-messages="registerForm.cnfpass.$error" role="alert" multiple="">
                        <div ng-message="required" >Please enter your Password.</div>
                        <div ng-message="compareTo" >Password different.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Car Model</label>
                    <input type="text" name="car" ng-model="vm.registerForm.car" placeholder="Car model"/>
                </md-input-container>
                <md-button ng-disabled="!registerForm.$valid" ng-click="vm.register()"  class="buttonBlue"  flex="50" flex-sm="100">Register</md-button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </form>
            Already have an account? <md-button href="#!/login" md-colors="{color: 'blue'}">Login Now</md-button>
        </md-card-content>
        
            
        
    </md-card>

</md-content>
