
a {
    cursor: pointer;
}

.buttonBlue {
    background: #357bd8;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
    margin-left: 40%;
    margin-right: 40%
  }
  
.buttonBlue:hover { background: #357bd8; color:#ffffff;  }

.toast-success .md-toast-content{
    background-color: rgb(102,187,106) !important;
}

toast-error .md-toast-content{
    background-color: rgb(239,83,80) !important;
}